nitrogen/
discord/
Code/
GIMP/
dconf/
fontconfig/
git/
gtk-2.0/
gtk-3.0/
htop/
pulse/
solaar/
google-chrome/
Postman/
libreoffice
tigervnc/
go/
QtProject.conf
create-next-app-nodejs/
nextjs-nodejs/
flameshot/
simple-update-notifier/
mimeapps.list
inkscape/
obsidian/
cef_user_data
kritadisplayrc
kritarc
urxvt/
VirtualBox/
vlc/
yay/
Electron/
